/* Estilo global */
body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom, #87CEFA, #256db4); /* fundo da tela */
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* principal */
.container {
    background-color: #fff;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    width: 350px;
    text-align: center;
}

/* titulo */
h1 {
    color: #333;
    font-size: 22px;
}

/* formulrio */
form {
    margin-top: 20px;
}

label {
    display: block;
    margin: 10px 0 5px;
}

select,
input[type="number"],
button,
#result {
    width: 100%; /* largura para todos os campos */
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

/* ajuste  campo de mensagens */
#result {
    margin-top: 15px; /* distancia entre botao Realizar e campo de mensagens */
    font-weight: bold;
}

#result.success {
    color: green;
}

#result.error {
    color: red;
}

/* Botao */
button {
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #45a049;
}

/* feedback p campos */
input:focus, select:focus {
    border-color: #4CAF50;
    outline: none;
    box-shadow: 0 0 5px rgba(76, 175, 80, 0.5);
}

/* Rodape */
.rodape {
    background-color: #007BFF;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    font-size: 14px;
    font-weight: bold;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}

/* Responsividade */
@media (max-width: 400px) {
    .container {
        width: 90%;
        padding: 15px;
    }
}